@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-5">
    <h2>Sample Entities</h2>

    <p>
        <a href="#" class="create-link" data-url="@Url.Action("Create", "students")">Create New Sample Entity</a>
    </p>

    <table class="table" style="width:100%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.students.)
            </th>
            <th>
                LookUp Attribute
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.students_Attribute)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SampleLookUp.SampleLookUp_Attribute)
                </td>
                <td class="text-end">
                    <!-- Add text-end class here -->
                    <a href="#" class="edit-link" data-url="@Url.Action("Edit", "SampleEntities", new { id = item.SampleEntityPK })">Edit</a>
                    <a href="#" class="details-link" data-url="@Url.Action("Details", "SampleEntities", new { id = item.SampleEntityPK })">Details</a>
                    <a href="#" class="delete-link" data-url="@Url.Action("Delete", "SampleEntities", new { id = item.SampleEntityPK })">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>